#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px auto;
  width: 65vw;
}

#about img {
  width: 250px;
  border-radius: 100%;
  border: 3px solid #cb521a;
}

#about ul {
  display: inline;
}

#about li {
  margin: 5px 0;
}

#info > * {
  margin: 20px 0;
  text-align: center;
}

header::after {
  display: none;
}

h2 {
  margin: 0;
}

sub {
  font-size: 1em;
  font-weight: bold;
  margin: 5px;
}

h3 {
  margin: 15px 0;
}