#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#buttons a > * {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 3px solid #cb521a;
}

.hover-img {
  display: none;
}

#buttons > div:hover .initial-img {
  display: none;
}

#buttons > div:hover .hover-img {
  display: block;
  content: "blah";
  background-image: url('../images/rory-scream.png');
  background-size: contain;
  text-align: center;
}

.hover-img h3 {
  padding: 30px 0;
  font-size: 3em;
  color: #cb521a;
}