#buttons {
  justify-content: space-around;
}

#buttons a > * {
  width: 230px;
  height: 230px;
  border: 1px solid transparent;
}

.hover-img {
  display: none;
}

#buttons > div:hover .initial-img {
  display: none;
}

#buttons > div:hover .hover-img {
  display: block;
  background-image: url('../images/rory-scream.png');
  background-size: contain;
  text-align: center;
}

.hover-img h2 {
  transform: rotate(-20deg);
  margin: -10px 0 0 190px;
  z-index: -1;
}