#color-key {
  max-width: 450px;
  margin: 0 auto;
}

#color-key {
  justify-content: space-around;
}

#color-key li {
  margin: 0 10px;
}

#color-key span {
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

#coding {
  justify-content: center;
  flex: 200px;
  text-align: center;
}

#coding > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 185px;
  height: 185px;
  border-radius: 100%;
  margin: 10px;
  padding: 10px;
  transition: .5s;
  color: #1C2833;
}

.ruby-project {
  background-color: #d18f70;
}

.javascript-project {
  background-color: #f8e598;
}

.html-css-project {
  background-color: #7c7296;
}

.api-project {
  background-color: #a1c0ef;
}

.ruby-project:hover {
  background-color: #cb521a;
}

.javascript-project:hover {
  background-color: #f6cf2d;
}

.html-css-project:hover {
  background-color: #614b94;
}

.api-project:hover {
  background-color: #5884c5;
}

#coding > a:hover {
  transform: scale(1.3);
  transition: transform 1s, background-color 1s;
}

#coding h3 {
  margin: 5px;
}