ul {
  list-style: none;
}

/* #portfolio-img {
  background-image: url('../images/cat.jpeg') no-repeat ;
  height: 100px;
  width: 100px;
  scale: auto;
} */

#buttons img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 2px solid black;
}

.hover-img {
  display: none;
}

#buttons > div:hover .initial-img {
  display: none;
}

#buttons > div:hover .hover-img {
  display: block;
}