body {
  font-family: 'Josefin Slab', serif;
}

body > * {
  margin: 100px 0;
  padding: 0 15vw;
}

ul {
  list-style: none;
  padding: 20px 0;
  margin: 0;
}

nav {
  margin: 0;
  padding: 10px 10vw;
  background-color: aquamarine;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul span {
  display: flex;
  flex-direction: row;
}

nav ul li {
  padding: 0 20px;
}

#buttons img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 2px solid black;
}

.hover-img {
  display: none;
}

#buttons > div:hover .initial-img {
  display: none;
}

#buttons > div:hover .hover-img {
  display: block;
}