/* color palette
#f6cf2d - yellow
#f29100 - orangey
#cb521a - red-orange
#6fa88d - tealish
*/

body {
  font-family: 'Josefin Slab', serif;
}

body > * {
  margin: 100px 0;
  padding: 0 15vw;
}

ul {
  list-style: none;
  padding: 20px 0;
  margin: 0;
}

nav, footer {
  margin: 0;
  padding: 10px 10vw;
  background-color: #f6cf2d;
}

nav ul, footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav span, footer span {
  display: flex;
  flex-direction: row;
}

nav ul li, footer ul li {
  padding: 0 20px;
}

/* extend footer when page is shorter than viewport */
footer {
  box-shadow: 0 50vh 0 50vh #f6cf2d;
}

header {
  margin: 100px auto;
  text-align: center;
  max-width: 800px;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#buttons img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 2px solid black;
}

.hover-img {
  display: none;
}

#buttons > div:hover .initial-img {
  display: none;
}

#buttons > div:hover .hover-img {
  display: block;
}
